<configuration>
    
    <property name="HOME_LOG" value="/opt/aguilar/logMonitor/appMonitor.log" />
    
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!--definimos los patrones -->
            <pattern>%d{HH:mm:ss.SSS} %cyan([%t]) %-5level %logger{36} - %msg%n</pattern>
        </layout>
    </appender>
    
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${HOME_LOG}</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <!--definimos los patrones -->
            <pattern>%d %p %c{1.}  [%t] %m%n</pattern>
        </encoder>
    </appender>
    
    <!--Appender para generar varios logs por cada instancia de la JMV-->
    <appender name="FILE_ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${HOME_LOG}</file>
        
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>/opt/aguilar/logMonitor/archived/app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- por cada 10 mb genera un log -->
            <maxFileSize>10MB</maxFileSize>
            <!--El historial maximo sera de 30 dias para estar almacenando informacion del  logs-->
            <maxHistory>3</maxHistory>
            <!--total de espacio para almacenamiento para guardar logs-->
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        
        <encoder>
            <pattern>%d %p %c{1.}  [%t] %m%n</pattern>
        </encoder>
    </appender> 
    
    <!--el resto de paquetes seran analizados como nivel debug-->
    <root level="debug">
        <appender-ref ref="FILE_ROLLING"/>
    </root>
</configuration>